@model IQueryable<Product>

@{
	string title = "Список продукції";
	ViewBag.Title = title;
}

	<div>
		<h1>@ViewBag.title</h1>

	<a asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="">Додати продукт</a>
	 
		 @foreach (Product product in Model)
		{
		<a asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@product.Id">
				<div style="margin: 15px;">
					<p>@product.Title;</p>
					<p>@product.SubTitle;</p>
					<div>
						<img class="img-block" src="~/images/@product.TitleImagePath" />
					</div>
					<p>@product.Price;</p>
				</div>
			</a>
		}
	</div>
